@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Nunito", sans-serif;
}

.cake-rounded {
	border-radius: 100%;
	width: 100px;
	height: 100px;
}

.rounded-full {
	border-radius: 100% !important;
}
